<div class="comment-stream-box <%= @comment.time %>">
	<p><%= link_to "#{@comment.user.username}", user_path(@comment.user.id) %> said: </p>
	<p><%= comment.comment %><span class="timestamp"> at <%= comment.time %> seconds</span></p>
</div>
