	<div id="all-users" class="song-list">
		<% @songs.each do |song| %>
			<p><%= link_to "#{song.title}", song_comments_path(song), :remote => true, :class => "html5", :id => "#{song.title}", :name => "#{song.direct_upload_url}" %>
				<span class="song-uploaded-by">Submitted by: <%= link_to "#{song.user.username}", user_path(song.user.id), :remote => true %></span></p>
		<% end %>
	</div>