<% content_for :title do %>Audiobox - Make Some Noise<% end %>
<div class="container">

	<div id="recently-uploaded">
		<h1>Latest Uploads</h1>
			<%= render "songs" %>
	</div>

	<div id="comments-stream">
		
	</div>

	<% if current_user %>
	<div id="my-recent-uploads">
			<h1>My Recent Uploads</h1>
			<div id="my-uploads" class="song-list">
				<%= render "user-songs" %>
			<% if !@user_songs.empty? %>
			<%= link_to "View All Uploads", user_path(current_user), :remote => true, :id => "view-all" %>
			<% end %>
			</div>
	</div>

	<% end %>

</div>